<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Recipe 1-11:Adding A Lite Version copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Recipe 1-11:Adding A Lite Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>887F3C071780D53C006908AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>887F3C281780D53C006908AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>887F3C401780D9F7006908AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
